.destinations__container {
  background-color: #0b1d44;
  padding: 4rem 12rem;
  display: flex;
  flex-direction: column;
}

.destinations__heading {
  color: #fff;
  font-size: 3rem;
  padding: 0rem 2rem;
}

.destinations__grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 5rem;
  justify-items: center;
  padding: 2rem 0;
}
