.card__container {
  width: 30rem;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}

.card__container:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
}

.img__container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card__img {
  object-fit: cover;
  object-position: center;
  transform: translateX(-8rem);
  width: 150%;
}

.card__text {
  position: relative;
  background-color: black;
  margin-top: -1rem;
  padding: 2rem 2rem;
}

.card__heading {
  font-size: 2.5rem;
}

.card__body {
  font-size: 1.3rem;
}
